* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Koulen';
    src: url(../public/fonts/Koulen-Regular.ttf);
}

@font-face {
    font-family: 'Metrophobic';
    src: url(../public/fonts/Metrophobic-Regular.ttf);
}