@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Koulen";
  src: url(./fonts/Koulen-Regular.ttf);
}
@font-face {
  font-family: "Metrophobic";
  src: url(./fonts/Metrophobic-Regular.ttf);
}
.section-regles {
  background: rgba(14, 34, 37, 0.7);
  margin: 70px;
  color: #fff;
  border: 5px solid #fff;
  position: relative;
  z-index: 4;
}

.h1-regles {
  font-size: 60px;
  text-align: center;
  font-family: "Koulen";
}

.div-regles {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  padding: 30px 0px 50px 0px;
}
@media screen and (max-width: 850px) {
  .div-regles {
    flex-direction: column;
    margin-top: 0px;
  }
}

.boutons-regles {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 850px) {
  .boutons-regles {
    display: none;
  }
}

#boutons-regles-mobile {
  background-color: #0E2225;
  color: #fff;
  border-radius: 20px;
  border: none;
  padding: 0.5rem;
  margin-left: 10%;
}

.div-boutons-regles-mobile {
  display: none;
}
@media screen and (max-width: 850px) {
  .div-boutons-regles-mobile {
    display: block;
  }
}

.section-regles-droite {
  width: 50%;
  display: none;
}
@media screen and (max-width: 850px) {
  .section-regles-droite {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
  }
}

.section-regles-droite p {
  text-align: justify;
  margin-top: 16px;
}

.h2-regles {
  color: #fff;
  font-family: "Koulen";
}

.btn-rules {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: rgb(30, 225, 139);
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (max-width: 850px) {
  .btn-rules {
    background-color: #0E2225;
  }
}

.btn-rules:hover {
  cursor: pointer;
}

.btn-acc {
  margin-top: 30px;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: rgb(30, 225, 139);
  text-transform: uppercase;
  font-weight: bold;
}

.btn-acc a {
  color: #fff;
}

.active {
  display: block;
}

.titre-bg {
  background: linear-gradient(135deg, #1EE18B 0%, #4cc9ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 36vw;
  font-family: "Koulen";
  position: absolute;
  line-height: 0.6;
  z-index: 1;
  text-align: center;
  left: 0;
  right: 0;
}

html {
  background-image: url(../../public/img/homepage/fond-à-pois.png);
  z-index: 2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #87EFC1 0%, #A0E3FF 100%);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Metrophobic";
  position: relative;
  overflow-x: hidden;
}

header {
  background-color: #0E2225;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 12.1935px 18.2903px rgba(0, 0, 0, 0.25);
  z-index: 4;
  position: relative;
}

.logo-carbon {
  width: auto;
  height: 70px;
  padding-left: 10px;
}

.fab {
  color: #fff;
  font-size: 25px;
  margin-right: 20px;
}

.fab:hover {
  color: #87EFC1;
}

.btn-articles {
  background-color: #0E2225;
  border: none;
  border-left: 3px solid #fff;
  font-size: 30px;
  padding: 12px 15px;
  color: white;
  letter-spacing: 0.15em;
  font-family: "Koulen";
}
@media screen and (max-width: 700px) {
  .btn-articles {
    display: none;
  }
}

.btn-articles:hover {
  color: #87EFC1;
}

a {
  text-decoration: none;
}

.section-hp {
  display: flex;
  z-index: 5;
  position: relative;
}
.section-hp .rules {
  width: 353px;
  height: 338px;
  background: rgba(201, 248, 227, 0.7);
  box-shadow: 0px 4.88px 4.88px rgba(0, 0, 0, 0.25);
}
.section-hp .rules .container {
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.section-hp .rules .container .h1-homepage {
  font-size: 32px;
  padding-bottom: 32px;
  font-family: "Koulen";
}
.section-hp .rules .container .rules-text {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}
.section-hp .rules .container .rules-text p {
  font-size: 28px;
  margin-right: 109px;
}
.section-hp .rules .container .rules-text div p {
  font-size: 22px;
  margin-right: 16px;
}
.section-hp .rules .container .rules-text div img {
  width: 84px;
  height: 103px;
}
.section-hp .rules .container .slider {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 10px;
}
.section-hp .rules .container .slider .circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #0E2225;
  opacity: 0.75;
}
.section-hp .rules .container .btn {
  width: 199px;
  height: 41px;
  background: #1EE18B;
  box-shadow: 0px 4.87742px 4.87742px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-hp .rules .container .btn p {
  color: white;
}
.section-hp .setup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 59px 1fr;
  width: 989px;
  height: 475px;
}
.section-hp .setup .grid {
  width: 100%;
  height: 100%;
}
.section-hp .setup .un {
  grid-column: 1/2;
  grid-row: 1/2;
  background: rgba(14, 34, 37, 0.6);
  border: 3px solid #FFFFFF;
  border-bottom: none;
}
.section-hp .setup .deux {
  grid-column: -3/-2;
  background: rgba(14, 34, 37, 0.6);
  border: 3px solid #FFFFFF;
  border-top: none;
  border-right: none;
}
.section-hp .setup .trois {
  grid-column: 2/3;
  grid-row: -2/-1;
  background: rgba(14, 34, 37, 0.6);
  border: 3px solid #FFFFFF;
  border-left: none;
}

footer {
  position: relative;
  margin-top: 50px;
  padding: 12px;
}

.copyright {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}
@media screen and (max-width: 700px) {
  .copyright {
    position: relative;
    text-align: center;
  }
}

.bg-pois {
  position: absolute;
  inset: 0;
  z-index: 3;
  background-image: url("img/homepage/fond-à-pois.png");
}

.box {
  height: 300px;
  display: flex;
  width: 80%;
  overflow-x: auto;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
  margin-left: 10%;
  position: relative;
  z-index: 4;
}

.card {
  height: 210px;
  width: 150px;
  min-width: 150px;
  display: block;
  border: solid 2px #0E2225;
  border-radius: 22px;
  position: relative;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
  transition: transform 0.1s;
}

.plus {
  display: block;
  width: 30px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border-radius: 20px;
}

.plus::after {
  content: "";
  display: block;
  width: 3px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border-radius: 20px;
}

.imgcard {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.hide {
  display: none;
}

.sc-h1 {
  text-align: center;
  margin-top: 5vh;
  font-family: "Koulen";
  z-index: 5;
  color: #fff;
  font-size: 50px;
}

.sc-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: rgba(14, 34, 37, 0.6);
  position: relative;
  z-index: 5;
  border: 5px solid #fff;
  width: 90%;
  margin-left: 5%;
  margin-top: 10vh;
}

#cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  z-index: 4;
  border: 5px solid #fff;
}

.selection {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
}
.selection .select-zone {
  background-color: #0E2225;
  width: 30%;
  height: 40%;
  border-radius: 25px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.selection .select-zone p {
  color: #fff;
}
.selection .select-zone input {
  width: 50%;
  height: 40px;
  outline: none;
  border-radius: 25px;
  padding: 10px;
  text-align: center;
  border: solid #87EFC1 3px;
  background-color: rgba(160, 227, 255, 0.3);
  color: #fff;
  font-size: 18px;
}
.selection .select-zone input:focus {
  border: solid #A0E3FF 3px;
}
.selection .select-zone button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: solid #A0E3FF 3px;
  background-color: transparent;
  color: #A0E3FF;
  cursor: pointer;
}
.selection .select-zone button:hover {
  border: solid #87EFC1 3px;
  color: #87EFC1;
}

.cpn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-direction: row;
  width: 80%;
}
.cpn .box-player {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cpn .box-player img {
  border-radius: 100%;
  width: 100px;
  height: 100px;
}
.cpn .box-player p {
  font-size: 20px;
  color: #fff;
  font-family: "Koulen";
}
.cpn .box {
  width: 90%;
}

.bouton-retour {
  cursor: pointer;
}

.bg-i {
  background-image: url(../../public/img/homepage/fond-à-pois.png);
}

.player {
  border: solid 2px red;
}
.player img {
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

/*# sourceMappingURL=style.css.map */
