@use 'mixins';

.card{
    width: 10vw;
    aspect-ratio: 5/7;
    display: block;
    border: solid 2px #0E2225;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    background-color: #fff;
    &:hover{
        transform: translateY(-10px);
        transition: transform 0.1s;
    }

    &.cardOff{
        filter: grayscale(100%);
        background-color: gray;
        opacity: 60%;
    }
}


.plus{
    display: block;
    width: 30%;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 20px;
}

.plus::after{
    content: '';
    display: block;
    width: 3px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 20px;
}

.imgcard{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.hide{
    display: none;
}

.sc-h1 {
    text-align: center; 
    font-family: 'Koulen'; 
    z-index: 5;
    color: #fff;
    font-size: 50px;
}


.sc-section{
    @include mixins.flexdef;
    width: 80%;
    height: 70vh;
    background-color: rgb(14, 34, 37, 0.6);
    position: relative;
    z-index: 5;
    border: 5px solid #fff;
}

#cards{
    @include mixins.flexdef;
    width: 60%;

    z-index: 4;
    border: 5px solid #fff;
}

.content-all{
    @include mixins.flexdef(true);
    .select-zone{
        font-family: "Koulen";
        width: 30%;
        height: 40%;
        border-radius: 25px;
        padding: 20px;
        @include mixins.flexdef;
        gap: 20px;
        p{
            color: #fff;
        }
        .add-card{
            @include mixins.flexdef(true);
            width: 100%;
            gap: 6px;
            .searchBar{
                width: 80%;
                height: 40px;
                outline: none;
                padding: 10px;
                text-align: center;
                border: solid #fff 4px;
                background-color: rgba($color: #A0E3FF, $alpha: .3);
                color: #fff;
                font-size: 18px;
                &::placeholder{
                    color: #fff;
                    text-align: left;
                    opacity: 0.8;
                }
                &:focus{
                    border: solid #4CC9FF 4px;
                }
            }
            button{
                width: 34px;
                height: 34px;
                border-radius: 5px;
                background-color: #1EE18B;
                color: #A0E3FF;
                cursor: pointer;
                border: none;
                color: #fff;
                font-size: 35px;
                font-family: "Koulen";
                position: relative;
                &:hover{
                    background-color: #4CC9FF;
                }
                &.disabled{
                    filter: grayscale(90%);
                    cursor:default;
                    &:hover{
                        filter: grayscale(90%);
                    }
                }
            }
        }
        .bouton-retour{
            cursor: pointer;
            width: 70%;
            height: 40px;
            padding: 10px;
            text-align: center;
            font-size: 20px;
            color: #fff;
            background-color: #1EE18B;
            position: relative;
            border-radius: 5px;
            &:hover{
                background-color: #4CC9FF;
            }
        }
        .align-both{
            width: 34px;
            height: 34px;
        }
        span{
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.cpn{
    display: none;
    align-items: center;
    justify-content: center;
    .box-player{
        @include mixins.flexdef;
        img{
            border-radius: 100%;
            width: 100px;
            height: 100px;
        }
        p{
            font-size: 20px;
            color: #fff;
            font-family: "Koulen";
        }
    }
    .box{
        height: 30vh;
        display: flex;
        width: 80%;
        overflow-x: auto;
        justify-content: flex-start;
        align-items: center;
        gap: 3vh;
        margin-left: 10%;
        position: relative;
        .cache{
            width: 100%;
            height: 100%;
            z-index: 21;
            position: absolute;
            display: none;
            &.show-cache{
                display: block;
            }
        }
    }
    width: 80%;
}


.content-visible{
    display: flex;
}

.select-cards-main{
    height: 100vh;
    width: 100vw;
    @include mixins.flexdef;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
}

.select-cards-body{
    height: 100vh;
}


.header-select{
    z-index: 22;
}